/*-------------------------GLOBAL STYLES--------------------------------------------*/
body {
  font-family: 'Lato', sans-serif;
  color: #fff;
  line-height: 1.5;
  background: radial-gradient(#0a0020, #000);
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  min-height: 100%;
}

li {
  list-style: none;
}

a {
  color: #1976D2;
  text-decoration: none;
  outline: none;
}

h1 {
  font-size: 2em;
}
h2,
h3,
h4 {
  font-size: 1em;
}

h3 {
  margin: 20px 0;
}

.visible {
  display: block !important;
}

/*----------------------------------Scrollbar-----------------------------------*/
@media (max-width: 992px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar:hover {
  background-color: #a1a1a1;
}

::-webkit-scrollbar-thumb {
  width: 45px;
  background-color: #1E88E5;
  border-radius: 50px;
}

/*-------------------------LANDING PAGE--------------------------------------------*/
#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 10;
  overflow-y: hidden;
  background-color: #0a0020;
  opacity: 1;
  background-image: radial-gradient(#1746d2 0.30000000000000004px, transparent 0.30000000000000004px), radial-gradient(#1746d2 0.30000000000000004px, #0a0020 0.30000000000000004px);
  background-size: 12px 12px;
  background-position: 0 0, 6px 6px;
}

#landing-page-overlay {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100vh;
  z-index: 9;
}

#profile-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  z-index: 10;
}

#profile-badge h1 {
  font-weight: 400;
  font-size: 2em;
  padding-top: 1rem;
}

#profile-badge p {
  color: #a1a1a1;
  font-size: 18px;
  text-align: center;
}

.contact-icons {
  display: flex;
}

.contact-icons a {
  display: flex;
  color: #fff;
  padding: 12px;
  margin: 10px 10px;
  border: 2px dotted #fff;
  border-radius: 50%;
}

.contact-icons a:hover {
  background: #fff;
  color: #000 !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#lp-border span {
  position: absolute;
  background-color: #fff;
  animation: createBox 9s;
  z-index: 10;
}

#lp-top-border,
#lp-bottom-border {
  left: 10%;
  height: 1px;
  width: 80%;
}

#lp-top-border {
  top: 40px;
}

#lp-bottom-border {
  bottom: 40px;
}

#lp-left-border,
#lp-right-border {
  top: 10%;
  width: 1px;
  height: 80%;
}

#lp-left-border {
  left: 40px;
}

#lp-right-border {
  right: 40px;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  #lp-border span {
    display: none;
  }
}

.scroll-arrow-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 10;
}

.scroll-arrow {
  display: block;
  width: 16px;
  height: 16px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#lp-arrow-one,
#lp-arrow-two,
#lp-arrow-three {
  -webkit-animation: arrow-scroll 1s infinite;
  -moz-animation: arrow-scroll 1s infinite;
  animation: arrow-scroll 1s infinite;
}

#lp-arrow-one {
  margin-top: 1px;
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

#lp-arrow-two {
  margin-top: -6px;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
}

#lp-arrow-three {
  margin-top: -6px;
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
}

@-webkit-keyframes arrow-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes arrow-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes arrow-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes arrow-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

/*-------------------------MOBILE NAVBAR--------------------------------------------*/
nav {
  background-color: transparent;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  z-index: 1020;
}

nav button span {
  background: #fff;
  padding: 1rem;
  border: 5px solid #fff !important;
  border-radius: 0.5rem;
}

.offcanvas {
  background: radial-gradient(rgb(10, 0, 32), rgb(0, 0, 0));
  border-right: 1px solid #fff !important;
  max-width: 250px;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.1rem;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

.navbar-brand:hover {
  color: #fff !important;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-right: 0.75rem;
}

.nav-item {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  letter-spacing: 2px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #1976D2;
}

.nav-link.active {
  color: #1976d2 !important;
}

/*-------------------------MAIN--------------------------------------------*/
main {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  main {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

@media (min-width: 576px) {
  main {
    margin-left: auto !important;
  }
}

/*-------------------------SECTION--------------------------------------------*/

section {
  padding-top: 3rem
}

section hr {
  display: block;
  color: #1E88E5;
  width: 200px;
  height: 2px;
  background-color: #1E88E5;
  margin-left: auto;
  margin-right: auto;
}

.section-header p {
  color: #a1a1a1;
  font-size: 18px;
  text-align: center;
}

.section-header h2,
#about-title {
  font-size: 35px;
  font-weight: 400;
  color: #1976D2;
  line-height: 32px;
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.contact-detail ul li {
  padding: 2px;
  font-size: 16px;
}

.project {
  background: #1e1e1e;
  box-shadow: 0 0 15px rgba(0, 0, 200, .1);
  border-style: solid;
  transition: all 0.2s ease;
  margin: 10px;
  max-width: 250px;
  color: #fff;
  border-color: rgb(248, 249, 250);
}

.project:hover {
  transform: scale(1.01);
}

.project h3 {
  font-size: 1.1em;
  height: 2.2em;
  margin-bottom: 0%;
  padding-right: 25px;
}

.project hr {
  width: 80%;
  color: #fff;
  margin-left: 0;
  background-color: transparent;
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: 0%;
  right: 0%;
}

.ribbon span {
  top: 20px;
  width: 190px;
  padding: 1px 0;
  background-color: #1976D2;
  font: 15px 'Lato', sans-serif;
  transform: rotate(30deg);
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: block;
}

.ribbon span:after {
  content: "";
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 600px;
  border: 1px dashed rgba(255, 255, 255, 0.9);
}

.ribbon span:before {
  content: "";
  position: relative;
  display: block;
  bottom: 0;
  left: 0;
  width: 600px;
  border: 1px dashed rgba(255, 255, 255, 0.9);
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-title {
  text-align: left;
}

.button {
  bottom: 5px;
  border-radius: 4px;
  border: none;
  background-color: #1976D2;
  padding: 10px 5px 10px 5px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#skills {
  clear: both;
}

#skill-set {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
}

#skill-set:after {
  content: "";
  display: block;
  clear: both;
}

.skill {
  position: relative;
  float: left;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  -webkit-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
  -ms-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
  transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}

.skill * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
}

.skill-name {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1e1e1e;
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
}

.skill p {
  text-align: center;
  padding: 20%;
  box-sizing: border-box;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.skill-name i {
  color: #1976D2;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

/*** SPACING AND SIZING *****************************************************************/
@media (min-width: 1201px) {

  /* <- 5-4  hexagons per row */
  .skill {
    width: 19.2%;
    /* = (100-4) / 5 */
    padding-bottom: 22.17%;
    /* =  width / sin(60deg) */
  }

  .skill:nth-child(9n+6),
  .skill:nth-child(9n+7),
  .skill:nth-child(9n+8),
  .skill:nth-child(9n+9) {
    margin-top: -4.676%;
    margin-bottom: -4.676%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }

  .skill:nth-child(9n+6):last-child,
  .skill:nth-child(9n+7):last-child,
  .skill:nth-child(9n+8):last-child,
  .skill:nth-child(9n+9):last-child {
    margin-bottom: 0;
  }

  .skill:nth-child(9n+6) {
    margin-left: .5%;
    clear: left;
  }

  .skill:nth-child(9n+10) {
    clear: left;
  }

  .skill:nth-child(9n+2),
  .skill:nth-child(9n+ 7) {
    margin-left: 1%;
    margin-right: 1%;
  }

  .skill:nth-child(9n+3),
  .skill:nth-child(9n+4),
  .skill:nth-child(9n+8) {
    margin-right: 1%;
  }
}

@media (max-width: 1200px) and (min-width: 901px) {

  /* <- 4-3  hexagons per row */
  .skill {
    width: 24.25%;
    /* = (100-3) / 4 */
    padding-bottom: 28.001%;
    /* =  width / sin(60deg) */
  }

  .skill:nth-child(7n+5),
  .skill:nth-child(7n+6),
  .skill:nth-child(7n+7) {
    margin-top: -6.134%;
    margin-bottom: -6.134%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }

  .skill:nth-child(7n+5):last-child,
  .skill:nth-child(7n+6):last-child,
  .skill:nth-child(7n+7):last-child {
    margin-bottom: 0;
  }

  .skill:nth-child(7n+2),
  .skill:nth-child(7n+6) {
    margin-left: 1%;
    margin-right: 1%;
  }

  .skill:nth-child(7n+3) {
    margin-right: 1%;
  }

  .skill:nth-child(7n+8) {
    clear: left;
  }

  .skill:nth-child(7n+5) {
    clear: left;
    margin-left: .5%;
  }
}

@media (max-width: 900px) and (min-width: 601px) {

  /* <- 3-2  skillagons per row */
  .skill {
    width: 32.666%;
    /* = (100-2) / 3 */
    padding-bottom: 37.72%;
    /* =  width / sin(60) */
  }

  .skill:nth-child(5n+4),
  .skill:nth-child(5n+5) {
    margin-top: -8.564%;
    margin-bottom: -8.564%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }

  .skill:nth-child(5n+4):last-child,
  .skill:nth-child(5n+5):last-child {
    margin-bottom: 0;
  }

  .skill:nth-child(5n+4) {
    margin-right: 1%;
    margin-left: .5%;
  }

  .skill:nth-child(5n+2) {
    margin-left: 1%;
    margin-right: 1%;
  }

  .skill:nth-child(5n+6) {
    clear: left;
  }
}

@media (max-width: 600px) {

  /* <- 2-1  skillagons per row */
  .skill {
    width: 49.5%;
    /* = (100-1) / 2 */
    padding-bottom: 57.158%;
    /* =  width / sin(60) */
  }

  .skill:nth-child(3n+3) {
    margin-top: -13.423%;
    margin-bottom: -13.423%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }

  .skill:nth-child(3n+3):last-child {
    margin-bottom: 0;
  }

  .skill:nth-child(3n+3) {
    margin-left: .5%;
  }

  .skill:nth-child(3n+2) {
    margin-left: 1%;
  }

  .skill:nth-child(3n+4) {
    clear: left;
  }
}

@media (max-width: 400px) {
  #skill-set {
    font-size: 13px;
  }
}

#resume {
  padding-bottom: 50px;
}

#resume h4 {
  text-align: center;
  margin: 0%;
  padding-left: 5px;
}

@media (min-width: 768px) {
  #resume h4 {
    text-align: left;
  }
}

#work-experience,
#volunteer,
#education,
#certifications {
  margin-top: 50px;
}

.resume-item {
  position: relative;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .resume-item:before {
    position: absolute;
    content: '';
    width: 1px;
    height: calc(100% + 20px);
    top: 0;
    left: 170px;
    border-left: 1px dashed #484848;
  }
}

.resume-item:last-child {
  margin-bottom: 0;
}

.resume-item:last-child:before {
  display: none;
}

.resume-year {
  display: block;
  position: relative;
  width: 120px;
  height: 40px;
  margin-bottom: -20px;
  margin-right: auto;
  margin-left: auto;
  line-height: 40px;
  background-color: #1976D2;
  text-align: center;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
}

@media (min-width: 568px) {
  .resume-item {
    margin-bottom: 20px;
  }

  .resume-year {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }

}

@media screen and (max-width: 768px) {
  .collapse {
    display: block !important;
  }

  .collapsing {
    display: block !important;
  }

  #lp-top-border,
  #lp-bottom-border,
  #lp-left-border,
  #lp-right-border {
    display: none;
  }
}

.resume-btn {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 150px;
  width: 40px;
  height: 40px;
  background-color: #1e1e1e;
  border-radius: 4px;
  display: none;
}


.resume-btn a,
.resume-btn a[class="plus"]::after,
.resume-btn a.plus.collapsed::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  z-index: 15;
  line-height: 38px;
  color: #fff;
}

.resume-btn a[class="plus"]::after {
  content: '-';
}

.resume-btn a.plus.collapsed::after {
  content: '+';
}

@media (min-width: 768px) {
  .resume-btn {
    display: block;
  }
}

.profile {
  padding: 10px 0px 10px 0;
  border: 1px solid #6e6e6e;
}

@media (min-width: 568px) {
  .profile {
    width: calc(100% - 140px);
    margin-left: 140px;
  }
}

@media (min-width: 768px) {
  .profile {
    width: calc(100% - 210px);
    margin-left: 210px;
  }
}

.profile-title {
  text-transform: uppercase;
}

@media (max-width: 567px) {
  .profile-title {
    padding-top: 20px;
  }
}

.profile-detail {
  padding-top: 5px;
  border-top: none;
}


.profile-detail p {
  padding: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.resume-item li {
  list-style-position: outside;
  list-style-type: square;
}