/*-------------------------GLOBAL STYLES--------------------------------------------*/
body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  background-color: #000;
}

li {
  list-style: none;
}

a {
  color: #1976D2;
  text-decoration: none;
  outline: none;
}

/*----------------------------------Scrollbar-----------------------------------*/
@media (max-width: 992px) {
  ::-webkit-scrollbar {
      display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar:hover {
  background-color: #a1a1a1;
}

::-webkit-scrollbar-thumb {
  width: 45px;
  background-color: #1E88E5;
  border-radius: 50px;
}


/*-------------------------LANDING PAGE--------------------------------------------*/
#landing-page {
  z-index: 10;
  overflow-y: hidden;
}

#particles-js {
  position: absolute;
  background: #000;
}

.lp-border {
  animation: createBox 9s;
  z-index: 5;
}

#lp-top-border,
#lp-bottom-border {
  left: 10%;
  height: 1px;
  width: 80%;
}

#lp-top-border {
  top: 40px;
}

#lp-bottom-border {
  bottom: 40px;
}

#lp-left-border,
#lp-right-border {
  top: 10%;
  width: 1px;
  height: 80%;
}

#lp-left-border {
  left: 40px;
}

#lp-right-border {
  right: 40px;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

#lp-content img {
  height: 250px;
  width: 250px;
  border: 2px dotted #fff;
}

#lp-content p {
  font-weight: 400;
  font-size: 2em;
}

.circle {
  padding: 12px;
  margin: 10px 20px;
  border: 2px dotted #fff;
}

.circle:hover {
  background: #fff;
  color: #000;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.scroll-arrow-container {
  z-index: 5;
  bottom: 10%;
  left: 50%;
}

.scroll-arrow {
  width: 16px;
  height: 16px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#lp-arrow-one {
  margin-top: 1px;
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

#lp-arrow-one,
#lp-arrow-two,
#lp-arrow-three {
  -webkit-animation: arrow-scroll 1s infinite;
  -moz-animation: arrow-scroll 1s infinite;
  animation: arrow-scroll 1s infinite;
}

#lp-arrow-two {
  margin-top: -6px;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
}

#lp-arrow-three {
  margin-top: -6px;
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
}

@-webkit-keyframes arrow-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes arrow-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes arrow-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes arrow-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

/*-------------------------MOBILE NAVBAR--------------------------------------------*/
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

/*-------------------------SIDEBAR--------------------------------------------*/

.sidebar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #1e1e1e;
}

.sidebar-name h4{
  font-size: 15px;
  letter-spacing: 2px;
}

.sidebar .nav-link {
  letter-spacing: 2px;
  font-size: 14px;
  color: #fff;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.nav-link:hover {
  color: #1976D2;
}

/*-------------------------SECTION--------------------------------------------*/

section {
  min-height: 100vh;
}

#about-title {
  font-size: 35px;
  font-weight: 400;
  color: #1976D2;
  text-align: center;
  line-height: 32px;
}

.contact-detail ul li {
  padding: 2px;
  font-size: 16px;
}
