/*-------------------------GLOBAL STYLES--------------------------------------------*/
html {
  height: 100%
}

body {
  font-family: 'Lato', sans-serif;
  color: #fff;
  line-height: 1.5;
  background: radial-gradient(#0a0020, #000);
  /* background-attachment: fixed; */
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  color: #1976D2;
  text-decoration: none;
  outline: none;
}

h2,
h3,
h4 {
  font-size: 1em;
}

h3 {
  margin: 20px 0;
}

.visible {
  display: block !important;
}

/*----------------------------------Scrollbar-----------------------------------*/
@media (max-width: 992px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar:hover {
  background-color: #a1a1a1;
}

::-webkit-scrollbar-thumb {
  width: 45px;
  background-color: #1E88E5;
  border-radius: 50px;
}

/*-------------------------LANDING PAGE--------------------------------------------*/
#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 10;
  overflow-y: hidden;
}

#profile-badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  z-index: 2;
}

#profile-badge h1 {
  font-weight: 400;
  font-size: 2em;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contact-icons {
  display: flex;
}

.contact-icons a {
  display: flex;
  color: #fff;
  padding: 12px;
  margin: 10px 10px;
  border: 2px dotted #fff;
  border-radius: 50%;
}

.contact-icons a:hover {
  background: #fff;
  color: #000 !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#lp-border span {
  position: absolute;
  background-color: #fff;
  animation: createBox 9s;
  z-index: 5;
}

#lp-top-border,
#lp-bottom-border {
  left: 10%;
  height: 1px;
  width: 80%;
}

#lp-top-border {
  top: 40px;
}

#lp-bottom-border {
  bottom: 40px;
}

#lp-left-border,
#lp-right-border {
  top: 10%;
  width: 1px;
  height: 80%;
}

#lp-left-border {
  left: 40px;
}

#lp-right-border {
  right: 40px;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  #lp-border span {
    display: none;
  }
}

.scroll-arrow-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 5;
}

.scroll-arrow {
  display: block;
  width: 16px;
  height: 16px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#lp-arrow-one,
#lp-arrow-two,
#lp-arrow-three {
  -webkit-animation: arrow-scroll 1s infinite;
  -moz-animation: arrow-scroll 1s infinite;
  animation: arrow-scroll 1s infinite;
}

#lp-arrow-one {
  margin-top: 1px;
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

#lp-arrow-two {
  margin-top: -6px;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
}

#lp-arrow-three {
  margin-top: -6px;
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
}

@-webkit-keyframes arrow-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes arrow-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes arrow-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes arrow-scroll {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

/*-------------------------MOBILE NAVBAR--------------------------------------------*/
nav {
  background-color: transparent;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  z-index: 1020;
}

nav button span {
  background: #fff;
  padding: 1rem;
  border: 5px solid #fff !important;
  border-radius: 0.5rem;
}

.offcanvas {
  background: radial-gradient(rgb(10, 0, 32), rgb(0, 0, 0));
  border-right: 1px solid #fff !important;
  max-width: 250px;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.1rem;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

.navbar-brand:hover {
  color: #fff !important;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding-right: 0.75rem;
}

.nav-item {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  letter-spacing: 2px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #1976D2;
}

.nav-link.active {
  color: #1976d2 !important;
}

/*-------------------------MAIN--------------------------------------------*/
main {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  main {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

@media (min-width: 576px) {
  main {
    margin-left: auto !important;
  }
}

/*-------------------------SECTION--------------------------------------------*/

section {
  padding-top: 3rem
}

section hr {
  display: block;
  color: #1E88E5;
  width: 200px;
  height: 2px;
  background-color: #1E88E5;
  margin-left: auto;
  margin-right: auto;
}

.section-header p {
  color: #a1a1a1;
  font-size: 18px;
  text-align: center;
}

.section-header h2,
#about-title {
  font-size: 35px;
  font-weight: 400;
  color: #1976D2;
  line-height: 32px;
  text-align: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.contact-detail ul li {
  padding: 2px;
  font-size: 16px;
}

.project {
  background: #1e1e1e;
  box-shadow: 0 0 15px rgba(0, 0, 200, .1);
  border-style: inset;
  transition: all 0.2s ease;
  margin: 10px;
  max-width: 250px;
}

.project:hover {
  transform: scale(1.01);
}

.project h4 {
  padding: 45px 35px 10px 20px;
  font-size: 1.1em;
  margin-bottom: 0%;
}

.project hr {
  width: 80%;
  color: #fff;
}

.ribbon {
  width: 150px;
  height: 150px;
}

.ribbon span {
  top: 20px;
  width: 190px;
  padding: 1px 0;
  background-color: #1976D2;
  font: 15px 'Lato', sans-serif;
  transform: rotate(30deg);
}

.ribbon span:after {
  content: "";
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 600px;
  border: 1px dashed rgba(255, 255, 255, 0.9);
}

.ribbon span:before {
  content: "";
  position: relative;
  display: block;
  bottom: 0;
  left: 0;
  width: 600px;
  border: 1px dashed rgba(255, 255, 255, 0.9);
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button {
  bottom: 5px;
  border-radius: 4px;
  border: none;
  background-color: #1976D2;
  padding: 10px 5px 10px 5px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#skills {
  clear: both;
}

#skill-set {
  width: 70%;
  margin: 0 auto;
  padding: 30px;
}

#skill-set:after {
  content: "";
  display: block;
  clear: both;
}

.skill {
  position: relative;
  float: left;
  overflow: hidden;
  visibility: hidden;
  outline: 1px solid transparent;
  -webkit-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
  -ms-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
  transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}

.skill * {
  position: absolute;
  visibility: visible;
  outline: 1px solid transparent;
}

.skill-name {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1e1e1e;
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
}

.skill p {
  text-align: center;
  padding: 20%;
  box-sizing: border-box;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.skill-name i {
  color: #1976D2;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

/*** SPACING AND SIZING *****************************************************************/
@media (min-width: 1201px) {

  /* <- 5-4  hexagons per row */
  .skill {
    width: 19.2%;
    /* = (100-4) / 5 */
    padding-bottom: 22.17%;
    /* =  width / sin(60deg) */
  }

  .skill:nth-child(9n+6),
  .skill:nth-child(9n+7),
  .skill:nth-child(9n+8),
  .skill:nth-child(9n+9) {
    margin-top: -4.676%;
    margin-bottom: -4.676%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }

  .skill:nth-child(9n+6):last-child,
  .skill:nth-child(9n+7):last-child,
  .skill:nth-child(9n+8):last-child,
  .skill:nth-child(9n+9):last-child {
    margin-bottom: 0;
  }

  .skill:nth-child(9n+6) {
    margin-left: .5%;
    clear: left;
  }

  .skill:nth-child(9n+10) {
    clear: left;
  }

  .skill:nth-child(9n+2),
  .skill:nth-child(9n+ 7) {
    margin-left: 1%;
    margin-right: 1%;
  }

  .skill:nth-child(9n+3),
  .skill:nth-child(9n+4),
  .skill:nth-child(9n+8) {
    margin-right: 1%;
  }
}

@media (max-width: 1200px) and (min-width: 901px) {

  /* <- 4-3  hexagons per row */
  .skill {
    width: 24.25%;
    /* = (100-3) / 4 */
    padding-bottom: 28.001%;
    /* =  width / sin(60deg) */
  }

  .skill:nth-child(7n+5),
  .skill:nth-child(7n+6),
  .skill:nth-child(7n+7) {
    margin-top: -6.134%;
    margin-bottom: -6.134%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }

  .skill:nth-child(7n+5):last-child,
  .skill:nth-child(7n+6):last-child,
  .skill:nth-child(7n+7):last-child {
    margin-bottom: 0;
  }

  .skill:nth-child(7n+2),
  .skill:nth-child(7n+6) {
    margin-left: 1%;
    margin-right: 1%;
  }

  .skill:nth-child(7n+3) {
    margin-right: 1%;
  }

  .skill:nth-child(7n+8) {
    clear: left;
  }

  .skill:nth-child(7n+5) {
    clear: left;
    margin-left: .5%;
  }
}

@media (max-width: 900px) and (min-width: 601px) {

  /* <- 3-2  skillagons per row */
  .skill {
    width: 32.666%;
    /* = (100-2) / 3 */
    padding-bottom: 37.72%;
    /* =  width / sin(60) */
  }

  .skill:nth-child(5n+4),
  .skill:nth-child(5n+5) {
    margin-top: -8.564%;
    margin-bottom: -8.564%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }

  .skill:nth-child(5n+4):last-child,
  .skill:nth-child(5n+5):last-child {
    margin-bottom: 0;
  }

  .skill:nth-child(5n+4) {
    margin-right: 1%;
    margin-left: .5%;
  }

  .skill:nth-child(5n+2) {
    margin-left: 1%;
    margin-right: 1%;
  }

  .skill:nth-child(5n+6) {
    clear: left;
  }
}

@media (max-width: 600px) {

  /* <- 2-1  skillagons per row */
  .skill {
    width: 49.5%;
    /* = (100-1) / 2 */
    padding-bottom: 57.158%;
    /* =  width / sin(60) */
  }

  .skill:nth-child(3n+3) {
    margin-top: -13.423%;
    margin-bottom: -13.423%;
    -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
    transform: translateX(50%) rotate(-60deg) skewY(30deg);
  }

  .skill:nth-child(3n+3):last-child {
    margin-bottom: 0;
  }

  .skill:nth-child(3n+3) {
    margin-left: .5%;
  }

  .skill:nth-child(3n+2) {
    margin-left: 1%;
  }

  .skill:nth-child(3n+4) {
    clear: left;
  }
}

@media (max-width: 400px) {
  #skill-set {
    font-size: 13px;
  }
}

#resume {
  padding-bottom: 50px;
}

#resume h4 {
  text-align: center;
  margin: 0%;
  padding-left: 5px;
}

@media (min-width: 768px) {
  #resume h4 {
    text-align: left;
  }
}

#work-experience,
#volunteer,
#education,
#certifications {
  margin-top: 50px;
}

.resume-item {
  position: relative;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .resume-item:before {
    position: absolute;
    content: '';
    width: 1px;
    height: calc(100% + 20px);
    top: 0;
    left: 170px;
    border-left: 1px dashed #484848;
  }
}

.resume-item:last-child {
  margin-bottom: 0;
}

.resume-item:last-child:before {
  display: none;
}

.resume-year {
  display: block;
  position: relative;
  width: 120px;
  height: 40px;
  margin-bottom: -20px;
  margin-right: auto;
  margin-left: auto;
  line-height: 40px;
  background-color: #1976D2;
  text-align: center;
  font-weight: 700;
  border-radius: 4px;
}

@media (min-width: 568px) {
  .resume-item {
    margin-bottom: 20px;
  }

  .resume-year {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }

}

@media screen and (max-width: 768px) {
  .collapse {
    display: block !important;
  }

  .collapsing {
    display: block !important;
  }

  #lp-top-border,
  #lp-bottom-border,
  #lp-left-border,
  #lp-right-border {
    display: none;
  }
}

.resume-btn {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 150px;
  width: 40px;
  height: 40px;
  background-color: #1e1e1e;
  border-radius: 4px;
}


.resume-btn a,
.resume-btn a[class="plus"]::after,
.resume-btn a.plus.collapsed::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  z-index: 15;
  line-height: 38px;
  color: #fff;
}

.resume-btn a[class="plus"]::after {
  content: '-';
}

.resume-btn a.plus.collapsed::after {
  content: '+';
}

.profile {
  padding: 10px 0px 10px 0;
  border: 1px solid #6e6e6e;
}

@media (min-width: 568px) {
  .profile {
    width: calc(100% - 140px);
    margin-left: 140px;
  }
}

@media (min-width: 768px) {
  .profile {
    width: calc(100% - 210px);
    margin-left: 210px;
  }
}

@media (max-width: 567px) {
  .profile-title {
    padding-top: 20px;
  }
}

.profile-detail {
  padding-top: 5px;
  border-top: none;
}


.profile-detail p {
  padding: 5px;
}

.resume-item li {
  list-style-position: outside;
  list-style-type: square;
}

#stars-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  -webkit-transform: translate(-50, -50%);
  -ms-transform: translate(-50, -50%);
  -o-transform: translate(-50, -50%);
  transform: translate(-50, -50%);
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 159px 1884px #FFF, 617px 1965px #FFF, 1383px 1135px #FFF, 1824px 715px #FFF, 122px 621px #FFF, 154px 1124px #FFF, 1648px 792px #FFF, 896px 608px #FFF, 408px 498px #FFF, 1347px 1438px #FFF, 64px 1812px #FFF, 461px 276px #FFF, 122px 1233px #FFF, 1167px 1711px #FFF, 1647px 325px #FFF, 433px 340px #FFF, 962px 807px #FFF, 1834px 1593px #FFF, 1428px 1135px #FFF, 1675px 979px #FFF, 1639px 1372px #FFF, 522px 1150px #FFF, 1318px 1148px #FFF, 83px 1286px #FFF, 934px 1962px #FFF, 635px 69px #FFF, 1306px 1387px #FFF, 1488px 331px #FFF, 1169px 291px #FFF, 1430px 277px #FFF, 828px 1888px #FFF, 1167px 878px #FFF, 505px 200px #FFF, 714px 263px #FFF, 1578px 1067px #FFF, 1897px 2px #FFF, 1273px 39px #FFF, 1714px 41px #FFF, 85px 858px #FFF, 1570px 666px #FFF, 1327px 1701px #FFF, 1726px 1729px #FFF, 1022px 109px #FFF, 1317px 1153px #FFF, 1504px 1057px #FFF, 835px 958px #FFF, 838px 51px #FFF, 1259px 304px #FFF, 1088px 900px #FFF, 1545px 644px #FFF, 1420px 239px #FFF, 1579px 1041px #FFF, 1285px 806px #FFF, 992px 403px #FFF, 1528px 1335px #FFF, 1023px 1853px #FFF, 1316px 1043px #FFF, 1599px 1583px #FFF, 1836px 686px #FFF, 612px 1289px #FFF, 1407px 1142px #FFF, 1781px 785px #FFF, 1206px 834px #FFF, 588px 1153px #FFF, 435px 524px #FFF, 1447px 201px #FFF, 1643px 1855px #FFF, 85px 654px #FFF, 1140px 923px #FFF, 1735px 1798px #FFF, 485px 1378px #FFF, 1296px 1278px #FFF, 1767px 1745px #FFF, 1897px 1268px #FFF, 1132px 299px #FFF, 852px 98px #FFF, 1712px 1955px #FFF, 104px 990px #FFF, 336px 866px #FFF, 875px 1957px #FFF, 306px 848px #FFF, 676px 1677px #FFF, 1290px 1131px #FFF, 1768px 788px #FFF, 507px 1345px #FFF, 509px 294px #FFF, 1731px 765px #FFF, 1437px 1019px #FFF, 241px 1898px #FFF, 1557px 1050px #FFF, 731px 1758px #FFF, 525px 1874px #FFF, 1545px 186px #FFF, 281px 281px #FFF, 1985px 1601px #FFF, 1405px 1262px #FFF, 1457px 41px #FFF, 494px 767px #FFF, 1061px 1600px #FFF, 191px 1042px #FFF, 1061px 1616px #FFF, 1481px 236px #FFF, 1745px 1493px #FFF, 265px 1701px #FFF, 1484px 676px #FFF, 1121px 1896px #FFF, 237px 1958px #FFF, 442px 649px #FFF, 948px 435px #FFF, 1000px 165px #FFF, 1391px 666px #FFF, 121px 775px #FFF, 119px 1016px #FFF, 307px 1544px #FFF, 1267px 108px #FFF, 1586px 1684px #FFF, 511px 953px #FFF, 1019px 1736px #FFF, 341px 338px #FFF, 1565px 1432px #FFF, 1247px 661px #FFF, 1990px 409px #FFF, 507px 878px #FFF, 431px 1516px #FFF, 402px 833px #FFF, 1555px 1025px #FFF, 909px 765px #FFF, 1373px 699px #FFF, 305px 1914px #FFF, 1014px 65px #FFF, 415px 1089px #FFF, 789px 1673px #FFF, 1573px 1287px #FFF, 14px 133px #FFF, 1324px 683px #FFF, 1958px 740px #FFF, 1387px 1633px #FFF, 918px 1064px #FFF, 434px 1853px #FFF, 1611px 734px #FFF, 266px 1612px #FFF, 1242px 1114px #FFF, 1298px 544px #FFF, 779px 1188px #FFF, 261px 157px #FFF, 1106px 1977px #FFF, 256px 534px #FFF, 1478px 1962px #FFF, 249px 1985px #FFF, 1894px 1067px #FFF, 1978px 1559px #FFF, 1373px 78px #FFF, 1098px 1146px #FFF, 487px 1899px #FFF, 1455px 901px #FFF, 548px 186px #FFF, 1097px 266px #FFF, 102px 1497px #FFF, 1868px 1217px #FFF, 1057px 1439px #FFF, 982px 163px #FFF, 1287px 1180px #FFF, 309px 1479px #FFF, 1238px 269px #FFF, 1695px 1549px #FFF, 1748px 938px #FFF, 1047px 1687px #FFF, 1062px 427px #FFF, 899px 1852px #FFF, 1090px 848px #FFF, 281px 436px #FFF, 1393px 1658px #FFF, 1532px 548px #FFF, 1523px 696px #FFF, 1748px 44px #FFF, 765px 469px #FFF, 697px 71px #FFF, 1595px 933px #FFF, 1238px 1343px #FFF, 221px 112px #FFF, 139px 226px #FFF, 499px 601px #FFF, 541px 402px #FFF, 1px 257px #FFF, 509px 699px #FFF, 190px 516px #FFF, 761px 1214px #FFF, 1981px 1158px #FFF, 1838px 751px #FFF, 1813px 167px #FFF, 997px 1969px #FFF, 605px 928px #FFF, 836px 1746px #FFF, 1645px 246px #FFF, 652px 1859px #FFF, 559px 1129px #FFF, 1887px 1279px #FFF, 1087px 932px #FFF, 346px 416px #FFF, 1336px 1222px #FFF, 666px 1684px #FFF, 118px 335px #FFF, 119px 1619px #FFF, 75px 1023px #FFF, 1366px 998px #FFF, 660px 33px #FFF, 271px 1315px #FFF, 1527px 638px #FFF, 138px 1896px #FFF, 1133px 376px #FFF, 1764px 720px #FFF, 659px 33px #FFF, 669px 1289px #FFF, 970px 1661px #FFF, 50px 736px #FFF, 298px 732px #FFF, 362px 759px #FFF, 1404px 121px #FFF, 660px 1118px #FFF, 1125px 1999px #FFF, 1405px 1970px #FFF, 706px 1163px #FFF, 1256px 1018px #FFF, 1390px 56px #FFF, 757px 531px #FFF, 830px 1738px #FFF, 303px 1197px #FFF, 1409px 1458px #FFF, 127px 1962px #FFF, 1710px 1540px #FFF, 875px 1227px #FFF, 48px 988px #FFF, 411px 1060px #FFF, 25px 502px #FFF, 401px 1614px #FFF, 877px 879px #FFF, 1713px 717px #FFF, 71px 1793px #FFF, 641px 632px #FFF, 1268px 779px #FFF, 1999px 2px #FFF, 1462px 1562px #FFF, 1736px 760px #FFF, 1416px 146px #FFF, 353px 96px #FFF, 1052px 370px #FFF, 725px 138px #FFF, 1462px 1055px #FFF, 1036px 1308px #FFF, 330px 1318px #FFF, 134px 233px #FFF, 732px 577px #FFF, 1517px 487px #FFF, 1215px 1567px #FFF, 248px 876px #FFF, 966px 263px #FFF, 60px 782px #FFF, 599px 137px #FFF, 319px 1742px #FFF, 1135px 606px #FFF, 1561px 317px #FFF, 356px 949px #FFF, 890px 1938px #FFF, 1189px 684px #FFF, 835px 1971px #FFF, 1609px 356px #FFF, 1406px 449px #FFF, 636px 1878px #FFF, 679px 1663px #FFF, 1711px 816px #FFF, 1317px 1945px #FFF, 1471px 652px #FFF, 1388px 1390px #FFF, 1244px 1014px #FFF, 1361px 1094px #FFF, 1032px 184px #FFF, 1501px 1878px #FFF, 1061px 114px #FFF, 1455px 1086px #FFF, 323px 1178px #FFF, 938px 34px #FFF, 715px 692px #FFF, 1408px 1182px #FFF, 306px 51px #FFF, 1406px 1475px #FFF, 951px 570px #FFF, 1071px 843px #FFF, 499px 735px #FFF, 347px 1254px #FFF, 1378px 1294px #FFF, 1542px 747px #FFF, 784px 1749px #FFF, 1508px 1058px #FFF, 1139px 1271px #FFF, 300px 1037px #FFF, 1970px 1626px #FFF, 125px 1184px #FFF, 1988px 1807px #FFF, 1756px 89px #FFF, 1311px 1123px #FFF, 589px 1359px #FFF, 805px 1440px #FFF, 1592px 560px #FFF, 108px 1500px #FFF, 1985px 1630px #FFF, 939px 1726px #FFF, 1649px 1521px #FFF, 980px 696px #FFF, 824px 1677px #FFF, 659px 1970px #FFF, 824px 1110px #FFF, 103px 112px #FFF, 702px 1125px #FFF, 1647px 310px #FFF, 312px 43px #FFF, 1643px 1560px #FFF, 360px 292px #FFF, 1401px 464px #FFF, 1688px 1267px #FFF, 705px 1880px #FFF, 1043px 1533px #FFF, 646px 529px #FFF, 722px 1999px #FFF, 1050px 1087px #FFF, 41px 25px #FFF, 350px 786px #FFF, 551px 822px #FFF, 1641px 606px #FFF, 867px 1065px #FFF, 1632px 342px #FFF, 385px 1788px #FFF, 1625px 670px #FFF, 1641px 1676px #FFF, 491px 451px #FFF, 1707px 239px #FFF, 1030px 20px #FFF, 1547px 439px #FFF, 1401px 1040px #FFF, 1828px 1936px #FFF, 572px 387px #FFF, 1569px 736px #FFF, 894px 205px #FFF, 357px 1535px #FFF, 19px 1981px #FFF, 911px 1934px #FFF, 119px 1040px #FFF, 906px 1561px #FFF, 1628px 1076px #FFF, 319px 90px #FFF, 865px 596px #FFF, 1871px 494px #FFF, 868px 605px #FFF, 1496px 870px #FFF, 1476px 1877px #FFF, 1339px 837px #FFF, 1302px 448px #FFF, 12px 1032px #FFF, 1067px 1743px #FFF, 200px 407px #FFF, 969px 461px #FFF, 631px 1647px #FFF, 1183px 292px #FFF, 35px 300px #FFF, 218px 1626px #FFF, 642px 406px #FFF, 407px 1336px #FFF, 1171px 485px #FFF, 288px 793px #FFF, 690px 844px #FFF, 849px 1087px #FFF, 561px 452px #FFF, 1103px 1755px #FFF, 1349px 108px #FFF, 1279px 202px #FFF, 1293px 343px #FFF, 1847px 736px #FFF, 1609px 66px #FFF, 29px 1665px #FFF, 916px 466px #FFF, 693px 1459px #FFF, 1942px 271px #FFF, 1728px 1357px #FFF, 1918px 243px #FFF, 1772px 268px #FFF, 1043px 406px #FFF, 568px 1483px #FFF, 29px 1846px #FFF, 170px 475px #FFF, 1290px 1419px #FFF, 644px 1615px #FFF, 258px 1248px #FFF, 738px 969px #FFF, 791px 1626px #FFF, 1577px 1335px #FFF, 1400px 39px #FFF, 1984px 106px #FFF, 1214px 1802px #FFF, 828px 1116px #FFF, 282px 1113px #FFF, 43px 1655px #FFF, 1944px 867px #FFF, 1828px 582px #FFF, 206px 1431px #FFF, 824px 1538px #FFF, 1687px 1478px #FFF, 985px 1960px #FFF, 1559px 1645px #FFF, 268px 1063px #FFF, 1457px 1432px #FFF, 1989px 103px #FFF, 35px 973px #FFF, 745px 515px #FFF, 1249px 1882px #FFF, 1991px 1886px #FFF, 990px 1453px #FFF, 1293px 1888px #FFF, 1579px 1223px #FFF, 108px 1318px #FFF, 1128px 1363px #FFF, 612px 162px #FFF, 1137px 856px #FFF, 1093px 1437px #FFF, 1246px 242px #FFF, 1653px 1007px #FFF, 1812px 328px #FFF, 1085px 501px #FFF, 1984px 1858px #FFF, 1469px 1622px #FFF, 138px 302px #FFF, 1552px 9px #FFF, 1152px 1299px #FFF, 592px 918px #FFF, 619px 224px #FFF, 1142px 1387px #FFF, 179px 201px #FFF, 1159px 1601px #FFF, 1294px 1916px #FFF, 614px 185px #FFF, 245px 128px #FFF, 229px 1870px #FFF, 1117px 1636px #FFF, 1417px 1844px #FFF, 379px 232px #FFF, 833px 131px #FFF, 503px 1094px #FFF, 1704px 1463px #FFF, 1288px 1208px #FFF, 1303px 923px #FFF, 843px 342px #FFF, 619px 406px #FFF, 1722px 170px #FFF, 1777px 501px #FFF, 1847px 171px #FFF, 1868px 653px #FFF, 132px 345px #FFF, 1258px 823px #FFF, 1244px 1984px #FFF, 531px 460px #FFF, 1738px 1084px #FFF, 1648px 1153px #FFF, 1656px 1647px #FFF, 1615px 1825px #FFF, 1548px 803px #FFF, 438px 390px #FFF, 1744px 637px #FFF, 1917px 1999px #FFF, 1826px 1555px #FFF, 863px 1626px #FFF, 144px 462px #FFF, 44px 1769px #FFF, 1385px 1061px #FFF, 494px 1200px #FFF, 1841px 701px #FFF, 900px 1351px #FFF, 1703px 1219px #FFF, 1811px 743px #FFF, 1540px 875px #FFF, 900px 1403px #FFF, 1960px 306px #FFF, 1032px 1490px #FFF, 1175px 946px #FFF, 1669px 392px #FFF, 255px 137px #FFF, 1062px 1252px #FFF, 1729px 1064px #FFF, 1950px 1678px #FFF, 844px 980px #FFF, 1587px 1914px #FFF, 653px 1985px #FFF, 1547px 1973px #FFF, 444px 1274px #FFF, 1726px 363px #FFF, 843px 452px #FFF, 1468px 1025px #FFF, 426px 1474px #FFF, 1655px 503px #FFF, 1436px 1059px #FFF, 946px 936px #FFF, 1311px 426px #FFF, 1880px 1851px #FFF, 686px 52px #FFF, 702px 790px #FFF, 702px 987px #FFF, 159px 1238px #FFF, 754px 1191px #FFF, 1288px 263px #FFF, 1727px 553px #FFF, 340px 1960px #FFF, 1996px 901px #FFF, 1435px 935px #FFF, 430px 1714px #FFF, 847px 1635px #FFF, 1009px 1814px #FFF, 1815px 620px #FFF, 1280px 712px #FFF, 862px 584px #FFF, 1360px 778px #FFF, 1245px 205px #FFF, 1085px 1746px #FFF, 612px 393px #FFF, 1856px 989px #FFF, 1858px 909px #FFF, 567px 1293px #FFF, 1616px 1679px #FFF, 455px 1107px #FFF, 1080px 1091px #FFF, 732px 1849px #FFF, 687px 952px #FFF, 1967px 1549px #FFF, 845px 433px #FFF, 391px 1962px #FFF, 170px 805px #FFF, 143px 1665px #FFF, 487px 1386px #FFF, 1439px 528px #FFF, 994px 1663px #FFF, 1520px 1879px #FFF, 1118px 1202px #FFF, 299px 1232px #FFF, 684px 1248px #FFF, 279px 1563px #FFF, 787px 844px #FFF, 483px 1707px #FFF, 1162px 176px #FFF, 963px 1628px #FFF, 1366px 1170px #FFF, 1097px 990px #FFF, 1247px 1790px #FFF, 796px 308px #FFF, 1863px 179px #FFF, 221px 248px #FFF, 1511px 826px #FFF, 305px 390px #FFF, 706px 772px #FFF, 840px 186px #FFF, 838px 1351px #FFF, 1438px 1203px #FFF, 721px 1940px #FFF, 900px 1470px #FFF, 647px 1131px #FFF, 1652px 792px #FFF, 1110px 1248px #FFF, 1592px 1788px #FFF, 1589px 1631px #FFF, 1892px 549px #FFF, 1593px 1768px #FFF, 21px 1720px #FFF, 305px 679px #FFF, 1872px 77px #FFF, 1895px 408px #FFF, 1050px 903px #FFF, 886px 329px #FFF, 200px 190px #FFF, 1477px 619px #FFF, 986px 914px #FFF, 1663px 1715px #FFF, 1322px 442px #FFF, 1201px 1530px #FFF, 629px 792px #FFF, 1415px 1302px #FFF, 1622px 530px #FFF, 1933px 4px #FFF, 1021px 925px #FFF, 211px 50px #FFF, 494px 862px #FFF, 899px 1997px #FFF, 444px 397px #FFF, 1791px 227px #FFF, 384px 858px #FFF, 1551px 1623px #FFF, 1142px 362px #FFF, 1687px 1553px #FFF, 311px 109px #FFF, 486px 358px #FFF, 699px 667px #FFF, 860px 164px #FFF, 29px 1024px #FFF, 1125px 1202px #FFF, 859px 837px #FFF, 1186px 1866px #FFF, 776px 1210px #FFF, 1074px 10px #FFF, 632px 1631px #FFF, 217px 644px #FFF, 624px 1041px #FFF, 379px 1896px #FFF, 809px 114px #FFF, 941px 319px #FFF, 995px 142px #FFF, 1471px 108px #FFF, 1398px 1424px #FFF, 1749px 1345px #FFF, 708px 995px #FFF, 1231px 428px #FFF, 1114px 325px #FFF, 14px 483px #FFF, 1955px 1390px #FFF, 1449px 1914px #FFF, 1604px 1534px #FFF, 1381px 1192px #FFF, 1573px 1107px #FFF, 1832px 1560px #FFF, 1566px 182px #FFF, 443px 1280px #FFF, 1565px 635px #FFF, 1882px 1350px #FFF, 903px 1218px #FFF, 1908px 161px #FFF, 1424px 1046px #FFF, 1114px 1362px #FFF, 647px 31px #FFF, 970px 228px #FFF, 434px 1210px #FFF, 409px 289px #FFF, 487px 139px #FFF, 499px 1092px #FFF, 1370px 669px #FFF, 734px 1868px #FFF, 1590px 1514px #FFF, 114px 1335px #FFF, 946px 585px #FFF, 1013px 1468px #FFF, 908px 1047px #FFF, 1725px 580px #FFF, 57px 1886px #FFF, 971px 520px #FFF, 1683px 616px #FFF, 1721px 1602px #FFF, 1882px 112px #FFF, 388px 1301px #FFF, 346px 1901px #FFF, 1013px 274px #FFF, 247px 1217px #FFF, 1712px 677px #FFF, 1687px 1983px #FFF, 1790px 103px #FFF, 1343px 1457px #FFF, 1703px 1335px #FFF, 710px 943px #FFF, 854px 946px #FFF, 192px 170px #FFF, 988px 1770px #FFF, 1649px 266px #FFF, 438px 352px #FFF, 244px 1266px #FFF, 702px 1942px #FFF, 646px 118px #FFF, 708px 1351px #FFF, 711px 1426px #FFF, 1703px 1883px #FFF, 527px 668px #FFF, 1532px 254px #FFF, 1391px 1045px #FFF, 1482px 1175px #FFF, 1229px 1858px #FFF, 72px 1639px #FFF, 1686px 1536px #FFF, 1554px 966px #FFF, 810px 992px #FFF, 1484px 1793px #FFF, 24px 805px #FFF, 111px 1241px #FFF, 25px 263px #FFF, 274px 367px #FFF, 226px 184px #FFF, 857px 1452px #FFF, 527px 1335px #FFF, 678px 903px #FFF, 1817px 606px #FFF, 190px 901px #FFF, 1833px 1055px #FFF, 895px 811px #FFF, 1406px 1534px #FFF, 1273px 1033px #FFF, 1368px 259px #FFF, 1760px 668px #FFF, 1323px 1610px #FFF, 198px 558px #FFF, 424px 1039px #FFF, 43px 1022px #FFF;
  animation: animateStars 60s ease-in-out infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stars::after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 0 159px 1884px #FFF, 617px 1965px #FFF, 1383px 1135px #FFF, 1824px 715px #FFF, 122px 621px #FFF, 154px 1124px #FFF, 1648px 792px #FFF, 896px 608px #FFF, 408px 498px #FFF, 1347px 1438px #FFF, 64px 1812px #FFF, 461px 276px #FFF, 122px 1233px #FFF, 1167px 1711px #FFF, 1647px 325px #FFF, 433px 340px #FFF, 962px 807px #FFF, 1834px 1593px #FFF, 1428px 1135px #FFF, 1675px 979px #FFF, 1639px 1372px #FFF, 522px 1150px #FFF, 1318px 1148px #FFF, 83px 1286px #FFF, 934px 1962px #FFF, 635px 69px #FFF, 1306px 1387px #FFF, 1488px 331px #FFF, 1169px 291px #FFF, 1430px 277px #FFF, 828px 1888px #FFF, 1167px 878px #FFF, 505px 200px #FFF, 714px 263px #FFF, 1578px 1067px #FFF, 1897px 2px #FFF, 1273px 39px #FFF, 1714px 41px #FFF, 85px 858px #FFF, 1570px 666px #FFF, 1327px 1701px #FFF, 1726px 1729px #FFF, 1022px 109px #FFF, 1317px 1153px #FFF, 1504px 1057px #FFF, 835px 958px #FFF, 838px 51px #FFF, 1259px 304px #FFF, 1088px 900px #FFF, 1545px 644px #FFF, 1420px 239px #FFF, 1579px 1041px #FFF, 1285px 806px #FFF, 992px 403px #FFF, 1528px 1335px #FFF, 1023px 1853px #FFF, 1316px 1043px #FFF, 1599px 1583px #FFF, 1836px 686px #FFF, 612px 1289px #FFF, 1407px 1142px #FFF, 1781px 785px #FFF, 1206px 834px #FFF, 588px 1153px #FFF, 435px 524px #FFF, 1447px 201px #FFF, 1643px 1855px #FFF, 85px 654px #FFF, 1140px 923px #FFF, 1735px 1798px #FFF, 485px 1378px #FFF, 1296px 1278px #FFF, 1767px 1745px #FFF, 1897px 1268px #FFF, 1132px 299px #FFF, 852px 98px #FFF, 1712px 1955px #FFF, 104px 990px #FFF, 336px 866px #FFF, 875px 1957px #FFF, 306px 848px #FFF, 676px 1677px #FFF, 1290px 1131px #FFF, 1768px 788px #FFF, 507px 1345px #FFF, 509px 294px #FFF, 1731px 765px #FFF, 1437px 1019px #FFF, 241px 1898px #FFF, 1557px 1050px #FFF, 731px 1758px #FFF, 525px 1874px #FFF, 1545px 186px #FFF, 281px 281px #FFF, 1985px 1601px #FFF, 1405px 1262px #FFF, 1457px 41px #FFF, 494px 767px #FFF, 1061px 1600px #FFF, 191px 1042px #FFF, 1061px 1616px #FFF, 1481px 236px #FFF, 1745px 1493px #FFF, 265px 1701px #FFF, 1484px 676px #FFF, 1121px 1896px #FFF, 237px 1958px #FFF, 442px 649px #FFF, 948px 435px #FFF, 1000px 165px #FFF, 1391px 666px #FFF, 121px 775px #FFF, 119px 1016px #FFF, 307px 1544px #FFF, 1267px 108px #FFF, 1586px 1684px #FFF, 511px 953px #FFF, 1019px 1736px #FFF, 341px 338px #FFF, 1565px 1432px #FFF, 1247px 661px #FFF, 1990px 409px #FFF, 507px 878px #FFF, 431px 1516px #FFF, 402px 833px #FFF, 1555px 1025px #FFF, 909px 765px #FFF, 1373px 699px #FFF, 305px 1914px #FFF, 1014px 65px #FFF, 415px 1089px #FFF, 789px 1673px #FFF, 1573px 1287px #FFF, 14px 133px #FFF, 1324px 683px #FFF, 1958px 740px #FFF, 1387px 1633px #FFF, 918px 1064px #FFF, 434px 1853px #FFF, 1611px 734px #FFF, 266px 1612px #FFF, 1242px 1114px #FFF, 1298px 544px #FFF, 779px 1188px #FFF, 261px 157px #FFF, 1106px 1977px #FFF, 256px 534px #FFF, 1478px 1962px #FFF, 249px 1985px #FFF, 1894px 1067px #FFF, 1978px 1559px #FFF, 1373px 78px #FFF, 1098px 1146px #FFF, 487px 1899px #FFF, 1455px 901px #FFF, 548px 186px #FFF, 1097px 266px #FFF, 102px 1497px #FFF, 1868px 1217px #FFF, 1057px 1439px #FFF, 982px 163px #FFF, 1287px 1180px #FFF, 309px 1479px #FFF, 1238px 269px #FFF, 1695px 1549px #FFF, 1748px 938px #FFF, 1047px 1687px #FFF, 1062px 427px #FFF, 899px 1852px #FFF, 1090px 848px #FFF, 281px 436px #FFF, 1393px 1658px #FFF, 1532px 548px #FFF, 1523px 696px #FFF, 1748px 44px #FFF, 765px 469px #FFF, 697px 71px #FFF, 1595px 933px #FFF, 1238px 1343px #FFF, 221px 112px #FFF, 139px 226px #FFF, 499px 601px #FFF, 541px 402px #FFF, 1px 257px #FFF, 509px 699px #FFF, 190px 516px #FFF, 761px 1214px #FFF, 1981px 1158px #FFF, 1838px 751px #FFF, 1813px 167px #FFF, 997px 1969px #FFF, 605px 928px #FFF, 836px 1746px #FFF, 1645px 246px #FFF, 652px 1859px #FFF, 559px 1129px #FFF, 1887px 1279px #FFF, 1087px 932px #FFF, 346px 416px #FFF, 1336px 1222px #FFF, 666px 1684px #FFF, 118px 335px #FFF, 119px 1619px #FFF, 75px 1023px #FFF, 1366px 998px #FFF, 660px 33px #FFF, 271px 1315px #FFF, 1527px 638px #FFF, 138px 1896px #FFF, 1133px 376px #FFF, 1764px 720px #FFF, 659px 33px #FFF, 669px 1289px #FFF, 970px 1661px #FFF, 50px 736px #FFF, 298px 732px #FFF, 362px 759px #FFF, 1404px 121px #FFF, 660px 1118px #FFF, 1125px 1999px #FFF, 1405px 1970px #FFF, 706px 1163px #FFF, 1256px 1018px #FFF, 1390px 56px #FFF, 757px 531px #FFF, 830px 1738px #FFF, 303px 1197px #FFF, 1409px 1458px #FFF, 127px 1962px #FFF, 1710px 1540px #FFF, 875px 1227px #FFF, 48px 988px #FFF, 411px 1060px #FFF, 25px 502px #FFF, 401px 1614px #FFF, 877px 879px #FFF, 1713px 717px #FFF, 71px 1793px #FFF, 641px 632px #FFF, 1268px 779px #FFF, 1999px 2px #FFF, 1462px 1562px #FFF, 1736px 760px #FFF, 1416px 146px #FFF, 353px 96px #FFF, 1052px 370px #FFF, 725px 138px #FFF, 1462px 1055px #FFF, 1036px 1308px #FFF, 330px 1318px #FFF, 134px 233px #FFF, 732px 577px #FFF, 1517px 487px #FFF, 1215px 1567px #FFF, 248px 876px #FFF, 966px 263px #FFF, 60px 782px #FFF, 599px 137px #FFF, 319px 1742px #FFF, 1135px 606px #FFF, 1561px 317px #FFF, 356px 949px #FFF, 890px 1938px #FFF, 1189px 684px #FFF, 835px 1971px #FFF, 1609px 356px #FFF, 1406px 449px #FFF, 636px 1878px #FFF, 679px 1663px #FFF, 1711px 816px #FFF, 1317px 1945px #FFF, 1471px 652px #FFF, 1388px 1390px #FFF, 1244px 1014px #FFF, 1361px 1094px #FFF, 1032px 184px #FFF, 1501px 1878px #FFF, 1061px 114px #FFF, 1455px 1086px #FFF, 323px 1178px #FFF, 938px 34px #FFF, 715px 692px #FFF, 1408px 1182px #FFF, 306px 51px #FFF, 1406px 1475px #FFF, 951px 570px #FFF, 1071px 843px #FFF, 499px 735px #FFF, 347px 1254px #FFF, 1378px 1294px #FFF, 1542px 747px #FFF, 784px 1749px #FFF, 1508px 1058px #FFF, 1139px 1271px #FFF, 300px 1037px #FFF, 1970px 1626px #FFF, 125px 1184px #FFF, 1988px 1807px #FFF, 1756px 89px #FFF, 1311px 1123px #FFF, 589px 1359px #FFF, 805px 1440px #FFF, 1592px 560px #FFF, 108px 1500px #FFF, 1985px 1630px #FFF, 939px 1726px #FFF, 1649px 1521px #FFF, 980px 696px #FFF, 824px 1677px #FFF, 659px 1970px #FFF, 824px 1110px #FFF, 103px 112px #FFF, 702px 1125px #FFF, 1647px 310px #FFF, 312px 43px #FFF, 1643px 1560px #FFF, 360px 292px #FFF, 1401px 464px #FFF, 1688px 1267px #FFF, 705px 1880px #FFF, 1043px 1533px #FFF, 646px 529px #FFF, 722px 1999px #FFF, 1050px 1087px #FFF, 41px 25px #FFF, 350px 786px #FFF, 551px 822px #FFF, 1641px 606px #FFF, 867px 1065px #FFF, 1632px 342px #FFF, 385px 1788px #FFF, 1625px 670px #FFF, 1641px 1676px #FFF, 491px 451px #FFF, 1707px 239px #FFF, 1030px 20px #FFF, 1547px 439px #FFF, 1401px 1040px #FFF, 1828px 1936px #FFF, 572px 387px #FFF, 1569px 736px #FFF, 894px 205px #FFF, 357px 1535px #FFF, 19px 1981px #FFF, 911px 1934px #FFF, 119px 1040px #FFF, 906px 1561px #FFF, 1628px 1076px #FFF, 319px 90px #FFF, 865px 596px #FFF, 1871px 494px #FFF, 868px 605px #FFF, 1496px 870px #FFF, 1476px 1877px #FFF, 1339px 837px #FFF, 1302px 448px #FFF, 12px 1032px #FFF, 1067px 1743px #FFF, 200px 407px #FFF, 969px 461px #FFF, 631px 1647px #FFF, 1183px 292px #FFF, 35px 300px #FFF, 218px 1626px #FFF, 642px 406px #FFF, 407px 1336px #FFF, 1171px 485px #FFF, 288px 793px #FFF, 690px 844px #FFF, 849px 1087px #FFF, 561px 452px #FFF, 1103px 1755px #FFF, 1349px 108px #FFF, 1279px 202px #FFF, 1293px 343px #FFF, 1847px 736px #FFF, 1609px 66px #FFF, 29px 1665px #FFF, 916px 466px #FFF, 693px 1459px #FFF, 1942px 271px #FFF, 1728px 1357px #FFF, 1918px 243px #FFF, 1772px 268px #FFF, 1043px 406px #FFF, 568px 1483px #FFF, 29px 1846px #FFF, 170px 475px #FFF, 1290px 1419px #FFF, 644px 1615px #FFF, 258px 1248px #FFF, 738px 969px #FFF, 791px 1626px #FFF, 1577px 1335px #FFF, 1400px 39px #FFF, 1984px 106px #FFF, 1214px 1802px #FFF, 828px 1116px #FFF, 282px 1113px #FFF, 43px 1655px #FFF, 1944px 867px #FFF, 1828px 582px #FFF, 206px 1431px #FFF, 824px 1538px #FFF, 1687px 1478px #FFF, 985px 1960px #FFF, 1559px 1645px #FFF, 268px 1063px #FFF, 1457px 1432px #FFF, 1989px 103px #FFF, 35px 973px #FFF, 745px 515px #FFF, 1249px 1882px #FFF, 1991px 1886px #FFF, 990px 1453px #FFF, 1293px 1888px #FFF, 1579px 1223px #FFF, 108px 1318px #FFF, 1128px 1363px #FFF, 612px 162px #FFF, 1137px 856px #FFF, 1093px 1437px #FFF, 1246px 242px #FFF, 1653px 1007px #FFF, 1812px 328px #FFF, 1085px 501px #FFF, 1984px 1858px #FFF, 1469px 1622px #FFF, 138px 302px #FFF, 1552px 9px #FFF, 1152px 1299px #FFF, 592px 918px #FFF, 619px 224px #FFF, 1142px 1387px #FFF, 179px 201px #FFF, 1159px 1601px #FFF, 1294px 1916px #FFF, 614px 185px #FFF, 245px 128px #FFF, 229px 1870px #FFF, 1117px 1636px #FFF, 1417px 1844px #FFF, 379px 232px #FFF, 833px 131px #FFF, 503px 1094px #FFF, 1704px 1463px #FFF, 1288px 1208px #FFF, 1303px 923px #FFF, 843px 342px #FFF, 619px 406px #FFF, 1722px 170px #FFF, 1777px 501px #FFF, 1847px 171px #FFF, 1868px 653px #FFF, 132px 345px #FFF, 1258px 823px #FFF, 1244px 1984px #FFF, 531px 460px #FFF, 1738px 1084px #FFF, 1648px 1153px #FFF, 1656px 1647px #FFF, 1615px 1825px #FFF, 1548px 803px #FFF, 438px 390px #FFF, 1744px 637px #FFF, 1917px 1999px #FFF, 1826px 1555px #FFF, 863px 1626px #FFF, 144px 462px #FFF, 44px 1769px #FFF, 1385px 1061px #FFF, 494px 1200px #FFF, 1841px 701px #FFF, 900px 1351px #FFF, 1703px 1219px #FFF, 1811px 743px #FFF, 1540px 875px #FFF, 900px 1403px #FFF, 1960px 306px #FFF, 1032px 1490px #FFF, 1175px 946px #FFF, 1669px 392px #FFF, 255px 137px #FFF, 1062px 1252px #FFF, 1729px 1064px #FFF, 1950px 1678px #FFF, 844px 980px #FFF, 1587px 1914px #FFF, 653px 1985px #FFF, 1547px 1973px #FFF, 444px 1274px #FFF, 1726px 363px #FFF, 843px 452px #FFF, 1468px 1025px #FFF, 426px 1474px #FFF, 1655px 503px #FFF, 1436px 1059px #FFF, 946px 936px #FFF, 1311px 426px #FFF, 1880px 1851px #FFF, 686px 52px #FFF, 702px 790px #FFF, 702px 987px #FFF, 159px 1238px #FFF, 754px 1191px #FFF, 1288px 263px #FFF, 1727px 553px #FFF, 340px 1960px #FFF, 1996px 901px #FFF, 1435px 935px #FFF, 430px 1714px #FFF, 847px 1635px #FFF, 1009px 1814px #FFF, 1815px 620px #FFF, 1280px 712px #FFF, 862px 584px #FFF, 1360px 778px #FFF, 1245px 205px #FFF, 1085px 1746px #FFF, 612px 393px #FFF, 1856px 989px #FFF, 1858px 909px #FFF, 567px 1293px #FFF, 1616px 1679px #FFF, 455px 1107px #FFF, 1080px 1091px #FFF, 732px 1849px #FFF, 687px 952px #FFF, 1967px 1549px #FFF, 845px 433px #FFF, 391px 1962px #FFF, 170px 805px #FFF, 143px 1665px #FFF, 487px 1386px #FFF, 1439px 528px #FFF, 994px 1663px #FFF, 1520px 1879px #FFF, 1118px 1202px #FFF, 299px 1232px #FFF, 684px 1248px #FFF, 279px 1563px #FFF, 787px 844px #FFF, 483px 1707px #FFF, 1162px 176px #FFF, 963px 1628px #FFF, 1366px 1170px #FFF, 1097px 990px #FFF, 1247px 1790px #FFF, 796px 308px #FFF, 1863px 179px #FFF, 221px 248px #FFF, 1511px 826px #FFF, 305px 390px #FFF, 706px 772px #FFF, 840px 186px #FFF, 838px 1351px #FFF, 1438px 1203px #FFF, 721px 1940px #FFF, 900px 1470px #FFF, 647px 1131px #FFF, 1652px 792px #FFF, 1110px 1248px #FFF, 1592px 1788px #FFF, 1589px 1631px #FFF, 1892px 549px #FFF, 1593px 1768px #FFF, 21px 1720px #FFF, 305px 679px #FFF, 1872px 77px #FFF, 1895px 408px #FFF, 1050px 903px #FFF, 886px 329px #FFF, 200px 190px #FFF, 1477px 619px #FFF, 986px 914px #FFF, 1663px 1715px #FFF, 1322px 442px #FFF, 1201px 1530px #FFF, 629px 792px #FFF, 1415px 1302px #FFF, 1622px 530px #FFF, 1933px 4px #FFF, 1021px 925px #FFF, 211px 50px #FFF, 494px 862px #FFF, 899px 1997px #FFF, 444px 397px #FFF, 1791px 227px #FFF, 384px 858px #FFF, 1551px 1623px #FFF, 1142px 362px #FFF, 1687px 1553px #FFF, 311px 109px #FFF, 486px 358px #FFF, 699px 667px #FFF, 860px 164px #FFF, 29px 1024px #FFF, 1125px 1202px #FFF, 859px 837px #FFF, 1186px 1866px #FFF, 776px 1210px #FFF, 1074px 10px #FFF, 632px 1631px #FFF, 217px 644px #FFF, 624px 1041px #FFF, 379px 1896px #FFF, 809px 114px #FFF, 941px 319px #FFF, 995px 142px #FFF, 1471px 108px #FFF, 1398px 1424px #FFF, 1749px 1345px #FFF, 708px 995px #FFF, 1231px 428px #FFF, 1114px 325px #FFF, 14px 483px #FFF, 1955px 1390px #FFF, 1449px 1914px #FFF, 1604px 1534px #FFF, 1381px 1192px #FFF, 1573px 1107px #FFF, 1832px 1560px #FFF, 1566px 182px #FFF, 443px 1280px #FFF, 1565px 635px #FFF, 1882px 1350px #FFF, 903px 1218px #FFF, 1908px 161px #FFF, 1424px 1046px #FFF, 1114px 1362px #FFF, 647px 31px #FFF, 970px 228px #FFF, 434px 1210px #FFF, 409px 289px #FFF, 487px 139px #FFF, 499px 1092px #FFF, 1370px 669px #FFF, 734px 1868px #FFF, 1590px 1514px #FFF, 114px 1335px #FFF, 946px 585px #FFF, 1013px 1468px #FFF, 908px 1047px #FFF, 1725px 580px #FFF, 57px 1886px #FFF, 971px 520px #FFF, 1683px 616px #FFF, 1721px 1602px #FFF, 1882px 112px #FFF, 388px 1301px #FFF, 346px 1901px #FFF, 1013px 274px #FFF, 247px 1217px #FFF, 1712px 677px #FFF, 1687px 1983px #FFF, 1790px 103px #FFF, 1343px 1457px #FFF, 1703px 1335px #FFF, 710px 943px #FFF, 854px 946px #FFF, 192px 170px #FFF, 988px 1770px #FFF, 1649px 266px #FFF, 438px 352px #FFF, 244px 1266px #FFF, 702px 1942px #FFF, 646px 118px #FFF, 708px 1351px #FFF, 711px 1426px #FFF, 1703px 1883px #FFF, 527px 668px #FFF, 1532px 254px #FFF, 1391px 1045px #FFF, 1482px 1175px #FFF, 1229px 1858px #FFF, 72px 1639px #FFF, 1686px 1536px #FFF, 1554px 966px #FFF, 810px 992px #FFF, 1484px 1793px #FFF, 24px 805px #FFF, 111px 1241px #FFF, 25px 263px #FFF, 274px 367px #FFF, 226px 184px #FFF, 857px 1452px #FFF, 527px 1335px #FFF, 678px 903px #FFF, 1817px 606px #FFF, 190px 901px #FFF, 1833px 1055px #FFF, 895px 811px #FFF, 1406px 1534px #FFF, 1273px 1033px #FFF, 1368px 259px #FFF, 1760px 668px #FFF, 1323px 1610px #FFF, 198px 558px #FFF, 424px 1039px #FFF, 43px 1022px #FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 0 1978px 1904px #FFF, 717px 603px #FFF, 1289px 1217px #FFF, 1076px 489px #FFF, 1178px 1250px #FFF, 920px 566px #FFF, 1277px 559px #FFF, 1996px 282px #FFF, 602px 1952px #FFF, 223px 1569px #FFF, 555px 992px #FFF, 1978px 655px #FFF, 568px 1346px #FFF, 111px 277px #FFF, 1185px 1249px #FFF, 6px 1835px #FFF, 871px 981px #FFF, 680px 279px #FFF, 1468px 2px #FFF, 1120px 94px #FFF, 899px 1839px #FFF, 1208px 442px #FFF, 903px 158px #FFF, 1893px 813px #FFF, 773px 427px #FFF, 1352px 1382px #FFF, 1732px 1898px #FFF, 318px 1871px #FFF, 1787px 970px #FFF, 833px 527px #FFF, 540px 1387px #FFF, 963px 954px #FFF, 1541px 1314px #FFF, 1514px 1637px #FFF, 1362px 510px #FFF, 1471px 165px #FFF, 1584px 180px #FFF, 419px 1608px #FFF, 1174px 1236px #FFF, 25px 1257px #FFF, 808px 1035px #FFF, 485px 81px #FFF, 560px 862px #FFF, 300px 971px #FFF, 527px 94px #FFF, 1690px 903px #FFF, 1605px 107px #FFF, 23px 1448px #FFF, 649px 57px #FFF, 1535px 1077px #FFF, 848px 1676px #FFF, 320px 652px #FFF, 66px 788px #FFF, 1661px 795px #FFF, 1398px 208px #FFF, 852px 1888px #FFF, 751px 196px #FFF, 644px 1901px #FFF, 825px 1470px #FFF, 872px 397px #FFF, 818px 1030px #FFF, 1292px 1891px #FFF, 1679px 728px #FFF, 1571px 748px #FFF, 1927px 1548px #FFF, 1906px 373px #FFF, 495px 1088px #FFF, 2px 1536px #FFF, 953px 108px #FFF, 1012px 72px #FFF, 1907px 1085px #FFF, 1839px 1859px #FFF, 1740px 204px #FFF, 369px 1044px #FFF, 876px 31px #FFF, 1979px 825px #FFF, 1247px 1470px #FFF, 436px 697px #FFF, 1049px 522px #FFF, 586px 1167px #FFF, 33px 675px #FFF, 1647px 266px #FFF, 1284px 416px #FFF, 742px 623px #FFF, 1601px 1047px #FFF, 71px 247px #FFF, 713px 1577px #FFF, 20px 1727px #FFF, 1846px 523px #FFF, 1895px 1105px #FFF, 1586px 108px #FFF, 396px 1119px #FFF, 1729px 1713px #FFF, 679px 1684px #FFF, 67px 1643px #FFF, 1521px 496px #FFF, 237px 1342px #FFF, 1346px 367px #FFF, 521px 544px #FFF, 717px 598px #FFF, 344px 10px #FFF, 63px 64px #FFF, 1547px 1586px #FFF, 1902px 1281px #FFF, 1768px 1454px #FFF, 133px 964px #FFF, 1640px 1209px #FFF, 1282px 1577px #FFF, 1619px 1865px #FFF, 349px 372px #FFF, 557px 1206px #FFF, 1898px 500px #FFF, 581px 1862px #FFF, 1848px 1025px #FFF, 1543px 1824px #FFF, 1350px 404px #FFF, 1737px 10px #FFF, 1317px 1315px #FFF, 1789px 1326px #FFF, 1389px 1236px #FFF, 1279px 532px #FFF, 1126px 1219px #FFF, 693px 1339px #FFF, 747px 1777px #FFF, 944px 62px #FFF, 1500px 620px #FFF, 1687px 1764px #FFF, 874px 553px #FFF, 474px 1536px #FFF, 1170px 443px #FFF, 828px 1321px #FFF, 1266px 846px #FFF, 811px 840px #FFF, 1628px 708px #FFF, 1602px 241px #FFF, 1993px 1561px #FFF, 362px 1791px #FFF, 194px 207px #FFF, 1534px 1736px #FFF, 838px 13px #FFF, 1871px 382px #FFF, 786px 1619px #FFF, 1254px 92px #FFF, 1326px 1208px #FFF, 989px 231px #FFF, 1217px 1344px #FFF, 1105px 1450px #FFF, 1939px 982px #FFF, 661px 1994px #FFF, 1439px 947px #FFF, 878px 1615px #FFF, 2000px 970px #FFF, 1363px 1064px #FFF, 1186px 1178px #FFF, 1025px 1249px #FFF, 16px 1399px #FFF, 1574px 1755px #FFF, 1252px 1364px #FFF, 1572px 1992px #FFF, 1453px 445px #FFF, 1371px 1952px #FFF, 48px 1579px #FFF, 668px 1029px #FFF, 1461px 190px #FFF, 1837px 963px #FFF, 152px 1731px #FFF, 1416px 246px #FFF, 583px 68px #FFF, 843px 1284px #FFF, 1101px 732px #FFF, 789px 415px #FFF, 848px 1217px #FFF, 1953px 1573px #FFF, 1332px 1552px #FFF, 227px 300px #FFF, 266px 857px #FFF, 705px 907px #FFF, 1605px 506px #FFF, 1745px 534px #FFF, 544px 970px #FFF, 1994px 792px #FFF, 1602px 318px #FFF, 353px 116px #FFF, 474px 1897px #FFF, 738px 251px #FFF, 35px 402px #FFF, 1718px 1642px #FFF, 126px 290px #FFF, 1357px 521px #FFF, 1806px 1426px #FFF, 1495px 180px #FFF, 1869px 144px #FFF, 736px 421px #FFF, 807px 336px #FFF, 258px 372px #FFF, 743px 1187px #FFF, 388px 75px #FFF, 1915px 426px #FFF, 54px 790px #FFF, 146px 1764px #FFF;
  animation: animateStars 70s ease-in-out infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stars2::after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 0 1978px 1904px #FFF, 717px 603px #FFF, 1289px 1217px #FFF, 1076px 489px #FFF, 1178px 1250px #FFF, 920px 566px #FFF, 1277px 559px #FFF, 1996px 282px #FFF, 602px 1952px #FFF, 223px 1569px #FFF, 555px 992px #FFF, 1978px 655px #FFF, 568px 1346px #FFF, 111px 277px #FFF, 1185px 1249px #FFF, 6px 1835px #FFF, 871px 981px #FFF, 680px 279px #FFF, 1468px 2px #FFF, 1120px 94px #FFF, 899px 1839px #FFF, 1208px 442px #FFF, 903px 158px #FFF, 1893px 813px #FFF, 773px 427px #FFF, 1352px 1382px #FFF, 1732px 1898px #FFF, 318px 1871px #FFF, 1787px 970px #FFF, 833px 527px #FFF, 540px 1387px #FFF, 963px 954px #FFF, 1541px 1314px #FFF, 1514px 1637px #FFF, 1362px 510px #FFF, 1471px 165px #FFF, 1584px 180px #FFF, 419px 1608px #FFF, 1174px 1236px #FFF, 25px 1257px #FFF, 808px 1035px #FFF, 485px 81px #FFF, 560px 862px #FFF, 300px 971px #FFF, 527px 94px #FFF, 1690px 903px #FFF, 1605px 107px #FFF, 23px 1448px #FFF, 649px 57px #FFF, 1535px 1077px #FFF, 848px 1676px #FFF, 320px 652px #FFF, 66px 788px #FFF, 1661px 795px #FFF, 1398px 208px #FFF, 852px 1888px #FFF, 751px 196px #FFF, 644px 1901px #FFF, 825px 1470px #FFF, 872px 397px #FFF, 818px 1030px #FFF, 1292px 1891px #FFF, 1679px 728px #FFF, 1571px 748px #FFF, 1927px 1548px #FFF, 1906px 373px #FFF, 495px 1088px #FFF, 2px 1536px #FFF, 953px 108px #FFF, 1012px 72px #FFF, 1907px 1085px #FFF, 1839px 1859px #FFF, 1740px 204px #FFF, 369px 1044px #FFF, 876px 31px #FFF, 1979px 825px #FFF, 1247px 1470px #FFF, 436px 697px #FFF, 1049px 522px #FFF, 586px 1167px #FFF, 33px 675px #FFF, 1647px 266px #FFF, 1284px 416px #FFF, 742px 623px #FFF, 1601px 1047px #FFF, 71px 247px #FFF, 713px 1577px #FFF, 20px 1727px #FFF, 1846px 523px #FFF, 1895px 1105px #FFF, 1586px 108px #FFF, 396px 1119px #FFF, 1729px 1713px #FFF, 679px 1684px #FFF, 67px 1643px #FFF, 1521px 496px #FFF, 237px 1342px #FFF, 1346px 367px #FFF, 521px 544px #FFF, 717px 598px #FFF, 344px 10px #FFF, 63px 64px #FFF, 1547px 1586px #FFF, 1902px 1281px #FFF, 1768px 1454px #FFF, 133px 964px #FFF, 1640px 1209px #FFF, 1282px 1577px #FFF, 1619px 1865px #FFF, 349px 372px #FFF, 557px 1206px #FFF, 1898px 500px #FFF, 581px 1862px #FFF, 1848px 1025px #FFF, 1543px 1824px #FFF, 1350px 404px #FFF, 1737px 10px #FFF, 1317px 1315px #FFF, 1789px 1326px #FFF, 1389px 1236px #FFF, 1279px 532px #FFF, 1126px 1219px #FFF, 693px 1339px #FFF, 747px 1777px #FFF, 944px 62px #FFF, 1500px 620px #FFF, 1687px 1764px #FFF, 874px 553px #FFF, 474px 1536px #FFF, 1170px 443px #FFF, 828px 1321px #FFF, 1266px 846px #FFF, 811px 840px #FFF, 1628px 708px #FFF, 1602px 241px #FFF, 1993px 1561px #FFF, 362px 1791px #FFF, 194px 207px #FFF, 1534px 1736px #FFF, 838px 13px #FFF, 1871px 382px #FFF, 786px 1619px #FFF, 1254px 92px #FFF, 1326px 1208px #FFF, 989px 231px #FFF, 1217px 1344px #FFF, 1105px 1450px #FFF, 1939px 982px #FFF, 661px 1994px #FFF, 1439px 947px #FFF, 878px 1615px #FFF, 2000px 970px #FFF, 1363px 1064px #FFF, 1186px 1178px #FFF, 1025px 1249px #FFF, 16px 1399px #FFF, 1574px 1755px #FFF, 1252px 1364px #FFF, 1572px 1992px #FFF, 1453px 445px #FFF, 1371px 1952px #FFF, 48px 1579px #FFF, 668px 1029px #FFF, 1461px 190px #FFF, 1837px 963px #FFF, 152px 1731px #FFF, 1416px 246px #FFF, 583px 68px #FFF, 843px 1284px #FFF, 1101px 732px #FFF, 789px 415px #FFF, 848px 1217px #FFF, 1953px 1573px #FFF, 1332px 1552px #FFF, 227px 300px #FFF, 266px 857px #FFF, 705px 907px #FFF, 1605px 506px #FFF, 1745px 534px #FFF, 544px 970px #FFF, 1994px 792px #FFF, 1602px 318px #FFF, 353px 116px #FFF, 474px 1897px #FFF, 738px 251px #FFF, 35px 402px #FFF, 1718px 1642px #FFF, 126px 290px #FFF, 1357px 521px #FFF, 1806px 1426px #FFF, 1495px 180px #FFF, 1869px 144px #FFF, 736px 421px #FFF, 807px 336px #FFF, 258px 372px #FFF, 743px 1187px #FFF, 388px 75px #FFF, 1915px 426px #FFF, 54px 790px #FFF, 146px 1764px #FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 0 127px 653px #FFF, 1804px 1401px #FFF, 174px 1815px #FFF, 373px 1754px #FFF, 642px 87px #FFF, 370px 1116px #FFF, 713px 974px #FFF, 888px 602px #FFF, 1707px 1095px #FFF, 850px 1146px #FFF, 672px 823px #FFF, 1909px 741px #FFF, 1215px 196px #FFF, 1581px 1460px #FFF, 1899px 457px #FFF, 922px 759px #FFF, 430px 948px #FFF, 1809px 1845px #FFF, 1801px 1108px #FFF, 685px 109px #FFF, 596px 1317px #FFF, 925px 534px #FFF, 1654px 1731px #FFF, 1280px 612px #FFF, 431px 81px #FFF, 149px 1101px #FFF, 1316px 1291px #FFF, 1408px 1922px #FFF, 1880px 92px #FFF, 556px 1059px #FFF, 254px 1183px #FFF, 1206px 1762px #FFF, 252px 1371px #FFF, 1788px 328px #FFF, 1356px 1305px #FFF, 1750px 508px #FFF, 540px 1283px #FFF, 1838px 1116px #FFF, 1431px 1676px #FFF, 568px 1874px #FFF, 1588px 518px #FFF, 1817px 1878px #FFF, 1654px 1410px #FFF, 240px 1334px #FFF, 634px 1039px #FFF, 1673px 1083px #FFF, 1260px 1466px #FFF, 1299px 312px #FFF, 1679px 1216px #FFF, 1565px 532px #FFF, 1114px 576px #FFF, 1007px 1444px #FFF, 112px 331px #FFF, 163px 530px #FFF, 472px 94px #FFF, 1116px 582px #FFF, 302px 1787px #FFF, 1875px 252px #FFF, 494px 313px #FFF, 574px 1149px #FFF, 1533px 1587px #FFF, 482px 1905px #FFF, 1966px 353px #FFF, 1486px 470px #FFF, 235px 1253px #FFF, 1895px 1081px #FFF, 1871px 380px #FFF, 1279px 1391px #FFF, 1865px 1625px #FFF, 1802px 1426px #FFF, 622px 803px #FFF, 755px 625px #FFF, 936px 123px #FFF, 1775px 1547px #FFF, 1716px 1325px #FFF, 1601px 73px #FFF, 15px 119px #FFF, 978px 815px #FFF, 454px 225px #FFF, 824px 1662px #FFF, 1590px 1797px #FFF, 1128px 1276px #FFF, 1509px 1330px #FFF, 1429px 1040px #FFF, 922px 573px #FFF, 1118px 1160px #FFF, 701px 674px #FFF, 1154px 5px #FFF, 728px 1690px #FFF, 438px 761px #FFF, 1629px 158px #FFF, 794px 25px #FFF, 381px 1159px #FFF, 209px 787px #FFF, 905px 1318px #FFF, 158px 281px #FFF, 1472px 1198px #FFF, 1174px 1081px #FFF, 1285px 812px #FFF, 1655px 1124px #FFF;
  animation: animateStars 62s ease-in-out infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stars3:after {
  content: " ";
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 0 127px 653px #FFF, 1804px 1401px #FFF, 174px 1815px #FFF, 373px 1754px #FFF, 642px 87px #FFF, 370px 1116px #FFF, 713px 974px #FFF, 888px 602px #FFF, 1707px 1095px #FFF, 850px 1146px #FFF, 672px 823px #FFF, 1909px 741px #FFF, 1215px 196px #FFF, 1581px 1460px #FFF, 1899px 457px #FFF, 922px 759px #FFF, 430px 948px #FFF, 1809px 1845px #FFF, 1801px 1108px #FFF, 685px 109px #FFF, 596px 1317px #FFF, 925px 534px #FFF, 1654px 1731px #FFF, 1280px 612px #FFF, 431px 81px #FFF, 149px 1101px #FFF, 1316px 1291px #FFF, 1408px 1922px #FFF, 1880px 92px #FFF, 556px 1059px #FFF, 254px 1183px #FFF, 1206px 1762px #FFF, 252px 1371px #FFF, 1788px 328px #FFF, 1356px 1305px #FFF, 1750px 508px #FFF, 540px 1283px #FFF, 1838px 1116px #FFF, 1431px 1676px #FFF, 568px 1874px #FFF, 1588px 518px #FFF, 1817px 1878px #FFF, 1654px 1410px #FFF, 240px 1334px #FFF, 634px 1039px #FFF, 1673px 1083px #FFF, 1260px 1466px #FFF, 1299px 312px #FFF, 1679px 1216px #FFF, 1565px 532px #FFF, 1114px 576px #FFF, 1007px 1444px #FFF, 112px 331px #FFF, 163px 530px #FFF, 472px 94px #FFF, 1116px 582px #FFF, 302px 1787px #FFF, 1875px 252px #FFF, 494px 313px #FFF, 574px 1149px #FFF, 1533px 1587px #FFF, 482px 1905px #FFF, 1966px 353px #FFF, 1486px 470px #FFF, 235px 1253px #FFF, 1895px 1081px #FFF, 1871px 380px #FFF, 1279px 1391px #FFF, 1865px 1625px #FFF, 1802px 1426px #FFF, 622px 803px #FFF, 755px 625px #FFF, 936px 123px #FFF, 1775px 1547px #FFF, 1716px 1325px #FFF, 1601px 73px #FFF, 15px 119px #FFF, 978px 815px #FFF, 454px 225px #FFF, 824px 1662px #FFF, 1590px 1797px #FFF, 1128px 1276px #FFF, 1509px 1330px #FFF, 1429px 1040px #FFF, 922px 573px #FFF, 1118px 1160px #FFF, 701px 674px #FFF, 1154px 5px #FFF, 728px 1690px #FFF, 438px 761px #FFF, 1629px 158px #FFF, 794px 25px #FFF, 381px 1159px #FFF, 209px 787px #FFF, 905px 1318px #FFF, 158px 281px #FFF, 1472px 1198px #FFF, 1174px 1081px #FFF, 1285px 812px #FFF, 1655px 1124px #FFF;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@keyframes animateStars {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }

  25% {
    -webkit-transform: rotate3d(-1, 1, 0, 15deg);
    -ms-transform: rotate3d(-1, 1, 0, 15deg);
    -o-transform: rotate3d(-1, 1, 0, 15deg);
    transform: rotate3d(-1, 1, 0, 15deg);
  }

  25% {
    -webkit-transform: rotate3d(-1, 1, 0, 15deg);
    -ms-transform: rotate3d(-1, 1, 0, 15deg);
    -o-transform: rotate3d(-1, 1, 0, 15deg);
    transform: rotate3d(-1, 1, 0, 15deg);
  }

  50% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }

  75% {
    -webkit-transform: rotate3d(-1, 1, 0, -30deg);
    -ms-transform: rotate3d(-1, 1, 0, -30deg);
    -o-transform: rotate3d(-1, 1, 0, -30deg);
    transform: rotate3d(-1, 1, 0, -30deg);
  }

  100% {
    -webkit-transform: rotate3d(-1, 1, 0, 0deg);
    -ms-transform: rotate3d(-1, 1, 0, 0deg);
    -o-transform: rotate3d(-1, 1, 0, 0deg);
    transform: rotate3d(-1, 1, 0, 0deg);
  }
}