# OS Metadata
.DS_Store
Thumbs.db

# IDE/Editor Configs
.vscode/
.idea/
*.swp
*.swo

# Local Server/Environment
node_modules/
.env
.env.production
.npm/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build/Dist folders
dist/
build/
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*